<!DOCTYPE html>
 <html>
    <head>
        <title>Yale-P Website</title>
        <link rel="stylesheet" href="../static/styles.css">
    </head>
    <body>
        <h1>Building Details</h1>
        <br>

        <h5>Name</h5><strong>{{name}}</strong>
        <h5>Address</h5><strong>{{address}}</strong>
        <h5>Current Rating</h5><strong id="rating">{{rating}}</strong>
        <h6>Rate this Building</h6>
        <button class="rate_button" onclick="changeRating(1)">1</button>
        <button class="rate_button" onclick="changeRating(2)">2</button>
        <button class="rate_button" onclick="changeRating(3)">3</button>
        <button class="rate_button" onclick="changeRating(4)">4</button>
        <button class="rate_button" onclick="changeRating(5)">5</button>

        <form action="\submitComment" method="POST">
            <hr>
            <label for="commentText">Leave a comment!</label>
            <br>
            <textarea id="commentTextInput" rows="4" cols="50" type="text" name="commentText" ></textarea>
            <br>
            <button id="commentButton" type="button">Post</button>
            <!-- <input type="submit" value="Post" onclick="addComment()">  -->
        </form>
        <h4>Comments</h4>
        <div id="comments">
            <!-- {% for comment in comments %}
            <p> {{comment['comment']}} </p>
            {% endfor %} -->
        </div>


        <script src=
"https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js">
        </script>
        <script>   
            function handleRateSuccess(res, status, xhr) {
                new_rating = xhr.getResponseHeader("new_rating")
                $('#rating').html(new_rating)
            }

            function changeRating(num){
                url = '/submitRating';
                $.ajax({
                    type: 'POST', 
                    url: url,
                    data: {
                        n_stars: num,
                        building: "{{ name }}"
                    },
                    success: handleRateSuccess
                })
            }

            function renderComments(data, res, xhr) {
                html = ""
                for (let i = 0; i < data.length; i++) {
                    html += "<p>" + data[i] + "</p>"
                }
                $("#comments").html(html)
            }

            function loadComments() {
                $("#commentTextInput").val('');
                url = '/loadComments';
                $.ajax({
                    type: 'GET', 
                    url: url,
                    data: {
                        building_id: "{{ building_id }}",
                    },
                    success: renderComments
                })
            }

            function addComment(){
                url = '/submitComment';
                let date_time = new Date();
                date_time = date_time.toLocaleString();
                $.ajax({
                    type: 'POST', 
                    url: url,
                    data: {
                        commentText: $('#commentTextInput').val(),
                        building_id: "{{ building_id }}",
                        rating: "{{ rating }}",
                        date_time: date_time,
                        room_num: "{{ room_num }}",
                    },
                    success: loadComments
                })
            }
            
            function setup(response){
                console.log('setup')
                loadComments()
                $('#commentButton').on('click', addComment)
            }
            $('document').ready(setup);
        </script>
    </body>
    </html>